@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.first-container{
    margin: 3rem;
    display: flex;
}
.social_media{
    word-spacing: 0rem;
    
}
.name{
    position:relative;
    /* use %(margin padding in % for responsive layout)  */
    margin-left: 40%;
    align-items: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: xxx-large;
    text-decoration: underline;
}
.user_login{
    margin-left: 36%;
}

.login, .register
{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    cursor: pointer;
    border-spacing: 40px;
    border-radius: 10px;
}

.register{
    margin-left: 1rem;
    
}
.login:hover{
    box-shadow: inset 100px 0 0 0 black;
    color: white;
    /* background-color: rgb(173, 173, 168); */
}
.register:hover{
    box-shadow: inset 100px 0 0 0 black;
    color: white;
}
.black_container {
    display: inline-flex;
    list-style: none;
    word-spacing: 2em;
    margin-left: 38%;
}
.black_container a{
    text-decoration: none;
}
.black_container a li{
    margin: 2em;
    /* word-spacing:  30px; */
    text-decoration: none;
}